@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Lnk {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.homeCon {
  color: #81dfff;
  font-size: 1.2em;
  font-weight: 200;
  
  margin-top: 200px;
  text-align: center;
  
}
.formStyle {
  color: #f6f4e6;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 200px;
    text-align: center;
}
.Label {
  width: 100%;
  display: block;
  padding-top: 100px;
  padding-bottom: 10px;
}
#title {
  width: 33%;
  height: 33px;
  background-color:#272727
}
#desc {
  width: 90%;
  height: 200px;
}
textarea {
  resize: none;
  background-color: #272727;
  color: #81dfff;
  border: solid;
  border-color: aqua;
  border-width: 0.1px;
  border-radius: 15px;
}
input {
  color: #81dfff;
    border: solid;
    border-color: rgb(176, 230, 230);
    border-width: 0.1px;
    border-radius: 15px;
    text-align:center;
}

.section {
  display: block;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.post {
  background-color: rgb(247, 247, 247);
  border: solid white;
  border-radius: 10px;
  margin-top: 50px;
  color: #81dfff;
  width: 50%;
}

.chapter {
  margin-top: 15px;
  margin-bottom: 15px;
  color:rgb(131, 131, 131)
}

.user, .title, .category {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hr {
  color:rgba(131, 131, 131, 0.475)
}