@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}

.Lnk {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.homeCon {
  color: #81dfff;
  font-size: 1.2em;
  font-weight: 200;
  
  margin-top: 200px;
  text-align: center;
  
}
.formStyle {
  color: #f6f4e6;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 0px;
    text-align: center;
}
.Label {
  width: 100%;
  display: block;
  padding-top: 100px;
  padding-bottom: 10px;
}

.LabelErr {
  width: 100%;
  display: block;
  padding-top: 100px;
  padding-bottom: 10px;
  color: rgb(245, 135, 135);
  font-family: monospace;
}

#title {
  width: 33%;
  height: 33px;
  background-color:#272727
}
#desc {
  width: 90%;
  height: 200px;
}
textarea {
  resize: none;
  background-color: #272727;
  color: #81dfff;
  border: solid;
  border-color: aqua;
  border-width: 0.1px;
  border-radius: 5px;
  text-indent: 10px;
}
.input {
  color: #81dfff;
    border: solid;
    border-color: rgb(176, 230, 230);
    border-width: 0.1px;
    border-radius: 15px;
    text-align:center;
    font-family: monospace;
}

.section {
  display: block;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.post {
  background-color: rgb(67, 67, 67);
  border: solid rgb(33, 33, 33);
  border-radius: 5px;
  margin-top: 50px;
  color: #81dfff;
  width: 50%;
}

.chapter {
  margin-top: 15px;
  margin-bottom: 15px;
  color:rgb(210, 210, 210);
  margin-left: 10px;
}

.user, .title, .category, .chapTitle {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.hr {
  color:rgba(131, 131, 131, 0.475);
  background-color:rgba(131, 131, 131, 0.475);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

select {
  background-color: rgb(45, 45, 45);
  color:rgb(176, 230, 230);
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

.btn {
  width: 10%;
  background-color: none;
  color: #4f4f4f;
  height: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
  border-radius: 15px;
  font-family: monospace;
}

.searchBar {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color:rgb(62, 62, 62);
  color:rgb(132, 197, 227);
  position: sticky;
  top: 0;
}

.searchBtn {
  float: left;
  margin-top: 7px;
  background:none;
  border:none;
  cursor: pointer;
  color: aliceblue;
}

.deleteBtn {
  float: right;
  width: 50px;
  height: 35px;
  background:none;
  border:none;
  cursor: pointer;
  color: aliceblue;
}

.time {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: monospace;
  color: #7b7b7b;
}